[Unit]
Description=Thor Startup Script

[Service]
Type=simple
User=thor
ExecStart=/home/thor/thor/src/thor/thor_mang_robot_bringup/startup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
